

.carousel{
    display: flex;
    flex-shrink: 0;
    width: 38vw;
    height: 50vh;
    position: absolute;
    top: 30vh;
    left: 35vw;
}

.carousel_track-container{
    background-color: lightblue;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.carousel_track-con{
    padding-left: 0;
    height: 100%;
    border-radius: 40px;
    margin: 0;
    transition: transform .25s ease-in;
    list-style: none;
    text-align: center;
    position: relative;
    height: 100%;
}

.carousel_slide{
    border-radius: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: 0px;
    bottom: 0px;
}



.carousel_in_images{
    width: 100%;
    height: 100%;
}


.carouselnav{
   /* background-color: red;*/
    width: 200px;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 30px;
    justify-items: center;
}

.carousel_indicator{
    width: 20px;
    border: none;
   height: 70%;
   margin: 4px 5px;
   background-color: rgba(0, 0, 0, 0.2);
   cursor: pointer;
   border-radius: 50%; 
}



.carousel_button{
    background: none;
    border: none;
    top: 50%;
    z-index: 9;
    position: absolute;
    width: 40px;
    transform: translateY(-50%);
    cursor: pointer;
    height: 30px;
}

.carosoul_button--right{
   right: -40px; 
}

.carosoul_button--left{
    left: -40px; 
 }
 .current_one{
    background-color: rgba(0, 0, 0, 0.7);
 }

 .isHidden{display: none;}

 /*
  
var logo = document.getElementById('log')
var cover_icon = document.getElementById('premiumid_cover')
var button = document.getElementById('actualbtn')
var topbar = document.getElementById('top')
var middle = document.getElementById('middle')
var bottom = document.getElementById('bottom')
var toggler = document.getElementById('toggler')
var bar = document.getElementById('bar')
var light_themeB = document.getElementById('lightM')
var dark_themeB = document.getElementById('darkM')
var sideM = document.getElementById('sideM')
var miniside = document.getElementById('miniSideM')
var trust = true
var side_pfp = document.getElementById('side-user-btn')
var settingsB = document.getElementById('settingsB')
var signoutB = document.getElementById('signout-btn')
var menue = document.getElementById('sideM')
var backeff = document.getElementById('backtarget')
var premiumB = document.getElementById('premium')


//slick moves
const track = document.querySelector('.carousel_track-con')
const slides = Array.from(track.children);
const nextbutton = document.querySelector('.carosoul_button--right');
const prevButton =  document.querySelector('.carosoul_button--left');
const dotsNav = document.querySelector('.carouselnav')
const dot = Array.from(dotsNav.children)
const the_slideContainer = document.querySelector('.carousel_track-container')
const slide_width = slides[0].getBoundingClientRect().width;
console.log(slide_width)

function menueC(){
    if (button.click && trust == true){
        sideM.style.visibility = 'visible'
        miniside.style.visibility = 'hidden'
        miniside.style.transition = 'none'
        settingsB.style.transition = 'none'
        side_pfp.style.transition = 'none'
        toggler.style.visibility = 'hidden'
        signoutB.style.transition = 'none'
        
        topbar.style.left = '0'
        toggler.style.transition = 'none'
        topbar.style.width = '50px'

        
        middle.style.left = '0'
        middle.style.width = '40px'
        
        bottom.style.left = '0'
        bottom.style.width = '30px'

        
        bar.style.left = '5px'


        logo.style.visibility = 'hidden'
        backeff.style.visibility = 'visible'
        trust = false
    }
    else if (button.click && trust === false){
        logo.style.visibility = 'visible'
        miniside.style.visibility = 'visible'
        sideM.style.visibility = 'hidden'
        backeff.style.visibility = 'hidden'
        miniside.style.transition = 'ease all .5s '
        settingsB.style.transition = 'ease all .5s '
        side_pfp.style.transition = 'ease all .5s '
        signoutB.style.transition = 'ease all .5s '
        trust = true
        
        toggler.style.visibility = 'visible'


        
        topbar.style.width = '40px'
        topbar.style.left = '0'
        
        middle.style.left = '0'
        middle.style.width = '40px'
        
        bottom.style.left = '0'
        bottom.style.width = '40px'

    }
  
}
window.addEventListener('keydown', function(e){
    if (e.key == 'Escape' && trust === false){
        miniside.style.visibility = 'visible'
        logo.style.visibility = 'visible'
        sideM.style.visibility = 'hidden'
        backeff.style.visibility = 'hidden'
        miniside.style.transition = 'ease all .5s '
        settingsB.style.transition = 'ease all .5s '
        side_pfp.style.transition = 'ease all .5s '
        signoutB.style.transition = 'ease all .5s '
        trust = true
        

        topbar.style.width = '40px'
        topbar.style.left = '0'
        
        middle.style.left = '0'
        middle.style.width = '40px'
        
        bottom.style.left = '0'
        bottom.style.width = '40px'

        toggler.style.visibility = 'visible'

    }
   })
window.addEventListener("mouseup", function(event){
    if (event.target === backeff){
        menue.style.visibility = 'hidden'
        miniside.style.visibility = 'visible'
        logo.style.visibility = 'visible'
        backeff.style.visibility = 'hidden'
        miniside.style.transition = 'ease all .5s '
        settingsB.style.transition = 'ease all .5s '
        side_pfp.style.transition = 'ease all .5s '
        signoutB.style.transition = 'ease all .5s '
        trust = true

        topbar.style.width = '40px'
        topbar.style.left = '0'
        
        middle.style.left = '0'
        middle.style.width = '40px'
        
        bottom.style.left = '0'
        bottom.style.width = '40px'

        toggler.style.visibility = 'visible'

    }
})



light_themeB.addEventListener('click', function(){
    toggler.style.transition = '.3s ease-out'
    toggler.style.top = '2px'
})
dark_themeB.addEventListener('click', function(){
    toggler.style.transition = '.3s ease-in '
    toggler.style.top = '83px'
})




function searched(){
    let searchC = document.getElementById('searchI')
    var result = document.getElementById('searchbar').value;
    if(result === "sandell"){
        window.location = ('index.html')
    }
}

function changepage(){
    var searchb = document.getElementById("searchbar")
    var x = document.getElementById("searchbar").value
    if(x === "dog"){
        window.location = ('index.html')

    }
}

function ddL(){
    var dataL = document.getElementById('op1').value
    var x = document.getElementById("searchbar").value
    if (x === "v"){
        dataL = "Vagamie"
    
    }
}

function profiles(){
    var sure = document.getElementById('sure')
    var userN = document.getElementById('gloos').innerHTML
    var loginN = document.getElementById('userN')
    sure.addEventListener('click', function(){
        userN = "sasf"
    })
}



//sends to other page

function premiumpage(){
    if(premiumB.click){
        window.location = ('premium.html')
    }
}



// local storage

function theme_data(){
    if(light_themeB.click){
        localStorage.setItem("theme", "light")
    }
  
} 

function dark_theme_data(){
    if (dark_themeB.click){

        localStorage.setItem("theme", "dark")

    }
}

if (localStorage.getItem("theme") == "dark"){
    toggler.style.top = '83px'
}

function changewindow(){
    if(cover_icon.click){
        window.location = 'premium.html'
    }
}
// all about carousel



//arrange the slides next to another
// slides[0].style.left = slide_size * 0 + 'px'
 //slides[1].style.left = slide_size * 1 + 'px'
 //slides[2].style.left = slide_size * 2 + 'px'

//setting the position of the slides
const setSlidePosition = (slide, index) => {
    slide.style.left = slide_width * index + 'px';
};
slides.forEach(setSlidePosition);


const moveToSlide = (track, currentSlide, targetSlide) => {
    track.style.transform = 'translateX(-' + targetSlide.style.left + ')';
    currentSlide.classList.remove("slide_current")
    targetSlide.classList.add('slide_current')
}

const updatedot = (currentdot,targetDot) =>{
    currentdot.classList.remove('current_one');
    targetDot.classList.add('current_one');
    

}

const hideshowArrow = (targetIndex, slides, prevButton, nextbutton ) =>{
    if(targetIndex === 0){
        prevButton.classList.add('isHidden')
        nextbutton.classList.remove('isHidden')
    }else if (targetIndex === slides.length - 1){
        prevButton.classList.remove('isHidden')
        nextbutton.classList.add('isHidden')

    }else{
        prevButton.classList.remove('isHidden')
        nextbutton.classList.remove('isHidden')
    }

}

prevButton.addEventListener('click', e =>{
    const currentSlide = track.querySelector('.slide_current')
    const previouslide = currentSlide.previousElementSibling  //move to prevoiuse slide
    moveToSlide(track, currentSlide, previouslide)
    const previndext = slides.findIndex(i => i === previouslide)
    const currentdot = dotsNav.querySelector('.current_one')
    const prevdot = currentdot.previousElementSibling;
    updatedot(currentdot,prevdot)
    hideshowArrow(previndext, slides, prevButton, nextbutton )

})

//going to the next slide

nextbutton.addEventListener('click', e =>{
    const currentSlide = track.querySelector('.slide_current')
    const nextSlide = currentSlide.nextElementSibling  //move to next slide
    const currentdot = dotsNav.querySelector('.current_one')
    const nextdot = currentdot.nextElementSibling;
    const nextindext = slides.findIndex(i => i === nextSlide)

    moveToSlide(track, currentSlide, nextSlide)
    updatedot(currentdot,nextdot)

    hideshowArrow(nextindext, slides, prevButton, nextbutton )


})



dotsNav.addEventListener('click', e =>{
    const targetDot = e.target.closest('button');

    if(!targetDot) return;
    const currentSlide = track.querySelector('.slide_current')
    const currentdot = document.querySelector('.current_one')
    const targetIndex = dot.findIndex(i => i === targetDot)
    const targetslide = slides[targetIndex]
    console.log(targetIndex)
    moveToSlide(track, currentSlide, targetslide)
    updatedot(currentdot,targetDot)

 
    hideshowArrow(targetIndex, slides, prevButton, nextbutton )
   
})

//moving side buttons on hover

the_slideContainer.addEventListener('mouseover', e=>{
    prevButton.style.left = '-58px'
    nextbutton.style.right = '-58px'
    dotsNav.style.margin = '16px'
})
the_slideContainer.addEventListener('mouseleave', e=>{
    prevButton.style.left = '-40px'
    nextbutton.style.right = '-40px'
    dotsNav.style.margin = '7px'

})
zz

// making changes on screen size 



//track.addEventListener('mousemove', ()=>{
//    const track = document.querySelector('.carousel_track-con')
//    const currentSlide = track.querySelector('.slide_current')
//    const nextSlide = currentSlide.nextElementSibling  //move to next slide
//    const currentdot = dotsNav.querySelector('.current_one')
//    const nextdot = currentdot.nextElementSibling;
    //const previndext = slides.findIndex(i => i === previouslide)
//    const nextindext = slides.findIndex(i => i === nextSlide)
//    window.addEventListener('keyup', e =>{    
//        if(e.key === 'ArrowRight'){
  //          moveToSlide(track, currentSlide, nextSlide)
    //        updatedot(currentdot,nextdot)
        
      //      hideshowArrow(nextindext, slides, prevButton, nextbutton )  
        //}

    //})
//})

s




  
:root{
    --light-theme-back: white;
    --light-theme-side-menue: white;
    --light-theme-elements: white; 
    --dark-theme-back: black;
    --dark-theme-side-menue: black;
    --dark-theme-elements: black;
    --dark-theme-mini-menue-back: white;
    --default-theme-back:#898989;
    --color-radiant1:rgb(55, 77, 72);
    --color-radiant2:rgb(24, 26, 24);
    --gold-radiant1:#BF953F;
 }

 
*{
    margin: 0;
    
 }
 body{
    scroll-behavior: smooth;
    overflow-x: hidden;
     background-color:#898989;
  
 }



 html{
    scroll-behavior: smooth;
 }
 
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-track{
    background-color: rgb(176, 176, 176);
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #819299;
    border: 3px solid ;
    border-radius: 10px;
    background-clip: content-box;
}
datalist{
    display: none;
}



/*headline here*/
.headlines{
    top: 0%;
    align-items:center;
    position: fixed;
    height: 80px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: rgb(232, 229, 229);
    border: 1px solid;
    box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);;
    border-color: black;
    
}



.logo{
    margin: 10px;
    position: relative;
    height: 100%;
    transition: .2s ease;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    font-size: 40px;
    left: -0px;
    width:200px;
    height: 80px;
    user-select: none;
    
    
}
.logo img{
    left: 0px;
    bottom: 200%;
    width: 40px;
    height: 40px;
    vertical-align: middle;
    pointer-events: none;
}
.logo h3 span{
    left: 30%;
    bottom: 60%;
    transform: translateY(-50%);
    margin-left: 0px;
    position: relative;
    font-weight: 200;
    color: #000;
}

.headlines .Nav{
    display: flex;
    position: sticky;
    flex-direction: row;
    padding-left: 30%;
    width: 50%;
    size-adjust: 20px;
    height: 100%;
    align-items: center;
  
}
/* connect AKA social*/
#connect{
    z-index: 3;
    position: absolute ;
    margin-left: 50px;
    left: 10%;
    transition:ease all .3s ;
    background: none;
    border: none;
    transform: translateX(-103%);
}
#connect #connectA:hover+#cHOVER{
    opacity: 1;
}
#cHOVER{
    opacity: 0;
    left: -20px;
    position: absolute;
    margin-top: 20px;
    background-color: white;
    width: 90px;
    padding-left: 10px;
    user-select: none;
    border-radius: 10px;
    
}

#cHOVER h2{
    font-size: 30px;
}
#cHOVER::after{
    content: '';
    height: 15px;
    position: absolute;
    width: 15px;
    background: white;
    left: 50%;
    top: -7px;
    transform: translateX(-50%) rotate(45deg);

}
#connect a{
    filter: brightness(0);
}

/*all about notification icon*/

#noti{
    z-index: 4;
    position: absolute;
    right: 25%;
    transition: ease-in 0.3s;
}
#noti button{
    background: none;
    cursor: pointer;
    border: 0px;
}

#noti a{
    filter: brightness(0);
}

#noti #notiA:hover+#nHOVER{
    opacity: 1;
}
#nHOVER{
    opacity: 0;
    left: -40px;
    position: absolute;
    z-index: 0;
    margin-top: 15px;
    background-color: white;
    width: 135px;
    height: 27px;
    padding-left: 10px;
    user-select: none;
    border-radius: 10px;
}



#nHOVER::after{

    content: '';
    height: 14px;
    position: absolute;
    z-index: -1;
    width: 15px;
    background: white;
    left: 45%;
    top: -7px;
    transform: translateX(-50%) rotate(45deg);
}



#nHOVER h3{
    margin-top: 5.5px;
    color: black;
}
#actual_noti{
    transition: .3s ease-in;
    left: 50%;
    opacity: 0;
    top: 50px;
    transform: translateX(-50%);
    width: 400px;
    min-height: 80vh;
    position: absolute;
    border: 1px solid black;
    padding-left: 10px;
    border-radius: 20px;
    background-color: #333;

}

#actual_noti h2{
    pointer-events: none;
    border-collapse: collapse;
    border-bottom: 1px solid black;
    margin-top: 20px;
    color: #fff;
}

/*all about chat icon*/
#chat{
    z-index: 3;
    cursor: pointer;
    transition:ease all .5s ;
    position: absolute;
    right: 15%;
    filter: brightness(0);
    color: green;
}

/* all about search icon*/

#searchI{
    z-index: 3;
    cursor: pointer;
    background: none;
    font-size: 15px;
    border: 0px;
    transition:ease all .5s ;
    position: absolute;
    right: 47.3%;

}


 
/*search bar */
#searchbar{
    z-index: 3;
    transition:ease all .2s ;
    width: 240px;
    top: 20px;
    height: 40px;
    border: 3px solid;
    border-radius: 10px;
    vertical-align: middle;
    position: absolute;
    right: 50%;
    cursor: text;
    margin-right: 10px;
    font-size: 25px;
    overflow: hidden;
    
}

/*MINI SIDE MENUE*/

#miniSideM{
    
    border-right: #333 2px solid;
    visibility: visible;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    height: calc(100% - 85px);
    position: absolute;
    align-items: center;
    background-color: rgb(102, 99, 99);
    left: 0px;
    width: calc(10% / 2);
    bottom: 0px;
    position: fixed;
    transition: ease all .5s ;
}
#miniSideM::-webkit-scrollbar{
    width: 0px;
    background: transparent;
    height: 0px;
    visibility: hidden;
}



#side-user-btn{
    margin-top: 10px;
    margin: left 0px;
    right: 4px;
    position: relative;
    margin-right: 0px;
    border: 0px;
    transition: ease all .5s ;
    background: none;
    cursor: pointer;

}

/* theme switch*/
#themeswitch{
    height: 120px;
    width: 35px;
    box-shadow: -30px 30px 20px rgba(0, 0, 0, 0);
    top: 10%;
    position: relative;
    box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5), 
    inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    background-color: rgb(146, 143, 143);
    border-radius: 40px;
    border: 2px solid black;
}
#lightM{
    position: relative;
    top: 5px;
    cursor: pointer;
    background: none;
    border: 0px;
    left: -1px;
    margin:  1px auto;
}

#darkM{
    position: relative;
    top: 55px;
    cursor: pointer;
    background: none;
    margin:  1px auto;
    border: 0px;

    
}
#toggler{
    position: absolute;
    width: 32px;
    right: 1px;
    margin-bottom: 20px;
    cursor: pointer;
    height: 34px;
    background-color: cyan;
    top: 2px;
    margin: 1px auto;
    border-radius: 48px;
}



/* settings button*/
#settingsB{
    position: relative;
    top: 55%;
    
    margin-bottom: 20px;
    cursor: pointer;
    transition: ease all .5s;
    background: none;
    border: 0px;
}

#signout-btn{
    transition: ease all .5s;
    background: transparent;
    border: 0px;
    font-size: 30px;
    top: 75%;
    margin-top: 10px;
    position: relative;
    cursor: pointer;
}

/*side menue*/

#sideM{

    align-items: center;
    visibility: hidden;
    transform: translateX(103%);
    display: flex;
    z-index: 2px;
    background-color: rgb(102, 99, 99);
    height: 1000vh;
    width: 260px;
    position: absolute;
    left: -290px;
    box-shadow: 0 10px 10px rgba(0,0, 0, 0.1);
    overflow: scroll;
}

#sideM h1{
    font-family: 'Kelly Slab', cursive;

    user-select: none;
    position: absolute;
    margin-left: 100px;
}

#sideM::-webkit-scrollbar{
    width: 0px;
}


#sideM ::-webkit-scrollbar-track{
    background-color: rgb(176, 176, 176);
    height: 10px;
}

#sideM ::-webkit-scrollbar-thumb{
    background-color: #333;
    border-radius: 5px;
}

#premium{
    cursor: pointer;
    position: absolute;
    margin-top:420.4px;
    align-self: center;
    background: none;
    align-items: center;
    display: flex;
    border: none;
    flex-direction: row;
    width: 100%;
    height: 50px;
}
#premium::before{
    position: absolute;
    background:linear-gradient(
    to right,
    transparent,
    var(--gold-radiant1),
    var(--color-radiant2)
    );
    width: 0px;
    height: 100%;
    top: 0px;
    left: 0px;
    content: "";

}
#premium>* {
    position: relative;
    z-index: 2;
  }
#premium:hover::before{
    transition: width .39s ease;
    width: 100%;
}

#premium #premiumA{
    font-family: 'Kelly Slab', cursive;
    text-decoration: none;
    margin-left: 78px;
}
#premium #premiumA h2{
    font-weight: 100;

    color: white;
}

#side-premium-icon{
    position: relative;
    left: 20px;
    font: 20px;
}

#social{
    
    position: absolute;
    margin-top: 238.4px;
    cursor: pointer;
    align-self: center;
    background:none;
    align-items: center;
    border: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
   
}
#social::before{
    position: absolute;
    background:linear-gradient(
    to right,
    transparent,
    var(--color-radiant1),
    var(--color-radiant2)
    );
    width: 0px;
    height: 100%;
    top: 0px;
    left: 0px;
    content: "";

}
#social>* {
    position: relative;
    z-index: 2;
  }
#social:hover::before{
    transition: width .39s ease;
    width: 100%;
}

#social #socialA{
    font-family: 'Kelly Slab', cursive;
    text-decoration: none;
    margin-left: 50px;
}
#social #socialA h2{
    font-weight: 100;

    color: white;
}

#profile{
    position: absolute;
    margin-top: 140px;
    align-self: center;
    background:none;
    border: none;
    align-items: center;
    text-decoration: #ffff;
    display: flex;
    cursor: pointer;
    flex-direction: row;
    width: 100%;
    height: 50px; 
}
#profile::before{
    position: absolute;
    background:linear-gradient(
    to right,
    transparent,
    var(--color-radiant1),
    var(--color-radiant2)
    );
    width: 0px;
    height: 100%;
    top: 0px;
    left: 0px;
    content: "";

}
#profile>* {
    position: relative;
    z-index: 2;
  }
#profile:hover::before{
    transition: width .39s ease;
    width: 100%;
}
#profileA{
    font-family: 'Kelly Slab', cursive;
    text-decoration: none;
    margin-left: 45px;
}
#profileA h2{
    font-weight: 100;
    color: #fff;
}

#side-userIcon{
    transform:scale(2px);
    position: relative;
    left: 20px;
}
#side-social-icon{
    position: relative;
    left: 20px;
}
#side-chat-icon{
    position: relative;
    left: 20px;
}


#messages{
    cursor: pointer;
    position: absolute;
    margin-top:337.4px;
    align-self: center;
    background: none;
    align-items: center;
    display: flex;
    border: none;
    flex-direction: row;
    width: 100%;
    height: 50px;
}

#messages::before{
    position: absolute;
    background:linear-gradient(
    to right,
    transparent,
    var(--color-radiant1),
    var(--color-radiant2)
    );
    width: 0px;
    height: 100%;
    top: 0px;
    left: 0px;
    content: "";

}
#messages>* {
    position: relative;
    z-index: 2;
  }
#messages:hover::before{
    transition: width 400ms ease;
    width: 100%;
}


#messages #messagesA{
    text-decoration: none;
    margin-left: 50px;
}
#messagesA h2{
    font-family: 'Kelly Slab', cursive;
    font-weight: 100;
    color: white;
}

@keyframes socA {
    50%{
        background-color: red;
    }
    100%{
        background-color:rgb(176, 176, 176);
    }
}







/* the dark screen that apears when you click the menue button*/
#backtarget{
    width: 100%;
    background-color: #00000080;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    opacity: 1px;
    z-index: 1px;
    visibility: hidden;
    position: fixed;
    margin-left: 237px;
}

input[type=search]::-ms-clear { display: none; width : 0; height: 0; }

/* the wrapped up background*/
.wrapper{
    font-size: large;
    padding-top: 100px;
    width: 90%;
    margin-left: 10px;
    background-color: #898989;
    height: 200vh;
}


/* all about the hamburger menue button*/
input[type = "checkbox"]{
    visibility: hidden;
    display: none;
}

#bar{
    z-index: 4;
    left: 25px;
    margin: 5px;
    position: absolute;
    cursor: pointer;
    display: flex;
    
    cursor: pointer;
    justify-content: center;
}
#bar #middle{
    bottom: 0px;
    height: 5px;
    width: 40px;
    background: rgb(0, 0, 0);
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
}

#bar #top{
    z-index: 4;
    bottom: 15px;
    cursor: pointer;
    height: 5.6px;
    width: 40px;
    background: rgb(0, 0, 0);
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
}

#bar #bottom{
    top: 10px;
    height: 4.5px;
    width: 40px;
    background: rgb(0, 0, 0);
    border-radius: 50px;
    position: absolute;
    transition: 0.3s ease;
} 


input[type = "checkbox"]:checked ~ #bar #top{
    width: 50px;
    left: 0px;

}
input[type = "checkbox"]:checked ~ #bar #middle{
    width: 40px;
    left: 0px;

}
input[type = "checkbox"]:checked ~ #bar #bottom{
    width: 30px;
    left: 0px;

}
input[type = "checkbox"]:checked ~ #bar{
    left: 5px;

}

/* hiding behind the menue button*/
#actualbtn{
    z-index: 3;
    left: 10px;
    align-self: center;
    background: none;

    border: none;
    top: 21px;
    cursor: pointer;
    width: 43px;
    position: absolute;
    height: 40px;
    background: none;
}


.headlines #menueB{
    visibility: hidden;
    z-index: 34;
    position: relative;
    align-self: center;
    margin: 5px;
    opacity: 1px;
    bottom: 30px;
    background: none;
    border: 0ch;
    cursor: pointer;
    
}


/* sending us to premium page*/

#premium_img{
    position: relative;
    width: 60px;
    z-index: 3;
    height: 45px;
    user-select: none;
    pointer-events: none;
    margin-left: 13px;
    margin-top:420.4px;

}


#premiumid_cover:hover + #premium::before{
    transition: width .39s ease;
    width: 100%;
    background:linear-gradient(
    to right,
    transparent,
    var(--gold-radiant1),
    var(--color-radiant2)
    );
}
#premiumid_cover{
    position: relative;
    width: 60px;
    z-index: 7;
    left: -66px;
    height: 45px;
    cursor: pointer;
    margin-left: 13px;
    margin-top:420.4px;
}


/* all about carousel*/


.carousel{
    min-width: 450px;
    z-index: 0;
    height: 50vh;
    position: absolute;
    top: 30vh;
    transition: .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    left: 33vw;
}

.carousel_track-container{
    transition: .3s ease 1.5s;
    min-width: 100%;
    background-color: lightblue;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}
.carousel_track-con{
    
    resize: none;
    padding-left: 0;
    border-radius: 40px;
    min-width: 100%;
    width: 450px;
    margin: 0;
    transition: transform .25s ease-in;
    list-style: none;
    text-align: center;
    position: relative;
    height: 50vh;
}

.carousel_slide{
    
    border-radius: 20px;
    position: absolute;
    width: 100%;
    
    height: 100%;
    cursor: pointer;
    margin: 0 auto;
    top: 0px;
    bottom: 0px;
}



.carousel_in_images{
    width: 100%;
    height: 100%;
}


.carouselnav{
   /* background-color: red;*/
   transition: .3s ease 1.4s;
    width: 200px;
    align-items: center;
    position: relative;
    margin-top: 7px;
    left: 50%;
    transform: translateX(-45%);
    height: 30px;
    justify-items: center;
}

.carousel_indicator{
    width: 20px;
    border: none;
   height: 70%;
   margin: 4px 5px;
   background-color: rgba(0, 0, 0, 0.2);
   cursor: pointer;
   border-radius: 50%; 
}



.carousel_button{
    background: none;
    border: none;
    top: 50%;
    z-index: 9;
    position: absolute;
    width: 40px;
    transform: translateY(-50%);
    cursor: pointer;
    height: 30px;
}

.carosoul_button--right{
    transition: .3s ease 1.4s;

   right: -40px; 
}

.carosoul_button--left{
    transition: .3s ease 1.4s;

    left: -40px; 
 }
 .current_one{
    background-color: rgba(0, 0, 0, 0.7);
 }

 .isHidden{display: none;}


#bottomline{
    width: 100vw;
    height: 2px;
    position: absolute;
    top: 90%;
    background-color: rgba(0, 0, 0, 0.521);

}

.carousel_track-container:hover{
    transform: scale(1.1,1.1);

}





#trend_h2Nicon{
    /*background-color: red;*/
    width: 38vw;
    position: absolute;
    top: 20vh;
    left: 33vw;
    height: 100px;
}
.wrapper h2{
    margin-top: 10px;
    position: absolute;
    left: 47%;
    transform: translateX(-50%);
}

#trendingIcon{
    transition: .3s ease-in;
    pointer-events: none;
    left: 28%;
    margin-top: 5px;
    width: 44px;
    position: relative;
    height: 35px;
}



/* all media changes*/
@media (max-width:1200px) {
    .carousel{
        left: 30vw;
    }
    #trendingIcon{
        left: 25%;
    }
    #connect{
        left: 5%;
    }
    #searchbar{
        right: 55%;
    }
    #searchI{
        right: 52.3%;
    }
    #noti{
        right: 37%;
    }
    #chat{
        right: 25%;
    }
    #side-user-btn{
        font-size: 10px;
        }
   
}
    

@media (max-width: 1064px){
    #actual_noti{
        transform: translateX(-70%);
    }
    #chat{
        right: 10%;
    }
    .carousel{
        left: 26vw;
    }
    #trendingIcon{
        left: 20%;
    }
    #connect{
        left: 7%;
    }
    #noti{
        right: 20%;
    }
    #searchI{
        right: 35%;
    }
    #searchbar{
        right:40.3%;
    }
}

@media (max-width: 900px) {
    #actual_noti{
        transform: translateX(-80%);
    }
    #connect{
        left: -100%;
        visibility: hidden;
    }
    .carousel{
        left: 23vw;
    }
    #social{
        animation-delay: 2s;

        animation: socA 0.6s linear;
    }
    #trendingIcon{
        left: 17%;
    }
    
    #settingsB{
        left: -10%;
        font-size: 11px;
    }
    #side-user-btn{
        font-size: 9px;
    }
    #signout-btn{
        font-size: 22px;
    }
}

@media (max-width: 750px) {
    #chat{
        right: 10%;
    }
    #noti{
        right: 25%;
    }
    #searchI{
        right: 40%;
    }
    #searchbar{
        right:46.3%;
    }
    #settingsB{
        left: -10%;
        font-size: 11px;
    }
    #side-user-btn{
        font-size: 7px;
    }
    #signout-btn{
        font-size: 22px;
    }
    #themeswitch{
        animation: theme_fade 1s linear;
        visibility: hidden;
    }
    #toggler{
        visibility: hidden;
    }
    #trendingIcon{
        left: 10%;
    }
    .carousel{
        left: 18vw;
    }
}
@keyframes theme_fade {
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

@media (max-width: 696px) {
    .carousel{
        left: 16vw;
    }
    #searchbar{
        width: 140px;
        left: 2%;
    }
    #searchI{
        left: 25.5%;
    }
    #chat{
        left: 80%;
    }
    #noti{
        left: 59%;
    }
    #settingsB{
        left: -15%;
        font-size: 11px;
    }

}
@media (max-width: 620px) {
    #searchbar{
        transition:ease all .01s ;
        visibility: hidden;
    }
    #miniSideM{
        transform: translateX(-200px);
    }
    #searchI{
        left: -40%;
    }
    #chat{
        left: 55%;
    }
    #noti{
        left: 25%;

    }
    #trendingIcon{
        left: 6%;
    }
    
    .carousel{
        left: 10vw;
    }
}
@media (max-width: 570px){
    #trendingIcon{
        left: -1%;
    }
    .logo{
        left: -15px;
    }
    .carousel{
        left: 8vw;
    }
    
}





